# dependencies
/node_modules
/.pnp
.pnp.js

# testing
/coverage

# production
/build

# macOS
.DS_Store

# environment variables
.env
.env.local
.env.development.local
.env.test.local
.env.production.local

# logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Netlify
.netlify

# Python (혹시 NotepadX 빌드용으로 사용한다면)
__pycache__/
*.pyc

# macOS apps and disk images
*.app
*.dmg

# PyInstaller
dist/
build/
*.spec
