@font-face {
    font-family: 'font-gmarket';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2001@1.1/GmarketSansLight.woff') format('woff');
    font-weight: 900;
    font-display: swap;
}
*{
  box-sizing: border-box;
}
body{
  font-family: font-gmarket;
  background-color: rgba(0, 0, 0, 0.84);
  color: rgb(197, 193, 193);
}
textarea{
  background-color: rgb(69, 69, 69);
  color:white;
  width: 100%;
  height: 500pt;
  font-family: font-gmarket;
  border:solid 0.5px rgb(255, 255, 255);
}
.bar{
  display: flex;
  gap:10px;
  background-color:  #8f8f8f;;
  color: rgb(0, 0, 0);
  width: 100%;
  flex-wrap: wrap;
  border:solid 0.5px rgb(255, 255, 255);
}
button{
  background-color: rgb(196, 196, 196);
  border:2px rgb(0, 0, 0) solid;
  font-family: font-gmarket;
}
footer{
    border:2px rgb(255, 255, 255) solid;
}
a{
  color:green;
}

